 
<h1>It's a new instagram application </h1>

<table>
 	<% @pics.each do |pic| %>
    <tr>
    <td><%= link_to (image_tag pic.image.url(:medium)), pic%></td>
      <td><%= pic.title%></td>
     
      <td><%= link_to ' Show ', pic_path(pic) %></td>

     

     <td><%= link_to ' Edit ', edit_pic_path(pic)%></td>
      </tr>
        
      <%end%>

      </table>



